/* Header.css */

#Admin-bar  {
    background-color: #27235c !important; /* Replace #yourColor with your desired color */
    height: 8vh;
}

/* App.css */

.navbar-nav {
    justify-content: flex-end;
  }
  
  